tmp/
.idea/
*.iml
node_modules/
bower_components/
src/*.js

# SASS
.sass-cache
src/*.css

# Linux
*~

# KDE directory preferences
.directory

#Sublime Text

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

#sftp configuration file
sftp-config.json

# Created by http://www.gitignore.io

### Node ###
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Users Environment Variables
.lock-wscript


/nbproject/private/