/**
 * Github widget styles 
 * ------------------------------------------------------------------
 */

.gh-profile-card {

  @import 'shared';
  @import 'profile-header';
  @import 'repositories-list';

}