.profile {
  background: #fff;
  overflow: hidden;
  padding: 15px 10px;
  padding-bottom: 0;
}

.stats {
  padding: 5px;
}

.languages {
  & {
    position: relative;
    clear: both;
    margin: 0 -10px;
    padding: 10px;
    min-height: 36px;

    border-top: 1px solid #dedede;
    font-size: 0.8em;
  }

  &::before {
    position: absolute;
    top: -0.7em;
    background: #fff;
    padding-right: 5px;
    content: 'Top languages';
    font-style: italic;
    color: #555;
  }

  li {
    display: inline-block;
    color: #444;
    font-weight: bold;
    margin-left: 10px;

    &::after {
      content: '\2022';
      margin-left: 10px;
      color: #999;
    }

    &:last-child::after {
      content: '';
    }
  }
}

.followMe {
  margin-top: 3px;
}

.follow-button {
  font-size: 0.8em;
  color: #333;
  float: left;
  padding: 0 10px;
  line-height: 1.5em;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  font-weight: bold;
  background: #eaeaea;
  background-image: linear-gradient(#fafafa, #eaeaea);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.follow-button:hover {
  color: inherit;
  background: #ddd;
  background-image: linear-gradient(#eee, #ddd);
}

/* followers number */
.followMe span {
  position: relative;
  background: #fff;
  margin-left: 8px;
  padding: 0 5px;
  color: #444;
  font-size: 0.8em;
  border: 1px solid;
  border-color: #bbb;
}

.followMe span::before {
  content: '';
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  left: -4px;
  top: 30%;
  background: inherit;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: inherit;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.avatar {
  width: 64px;
  height: 64px;
  float: left;
  margin: 0 10px 15px 0;
  margin-left: 0;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #ddd;
}
